@(encAccessToken: String, orgs: Seq[utils.GitHub.Org], gitHubAppId: String)(implicit staticWebJarAssets: StaticWebJarAssets)

@main("CLA Audit") {

    <h2 class="slds-text-heading--large" style="margin-bottom: 20px;">CLA Audit</h2>

    @orgs.map { org =>
        <ul class="slds-list--vertical slds-has-dividers">
            <li class="slds-list__item nohover">
                <div class="slds-tile">
                    <p class="slds-tile__title slds-truncate">GitHub Organization: <a href="https://github.com/@org.login">@org.login</a></p>
                    <div class="slds-tile__detail slds-text-body--small">
                        <ul class="slds-tile__detail slds-list--vertical slds-text-body--small">
                            <li class="slds-truncate slds-list__item nohover">
                                @if(org.role == utils.GitHub.Role.Admin) {
                                    <div data-href="@routes.Application.auditPrValidatorStatus(org.login, encAccessToken)">
                                        <p>
                                            Loading Pull Request Validator Status...
                                            <img src="@staticWebJarAssets.locateUrl("assets/images/spinners/slds_spinner.gif")" alt="Loading..." style="height: 1rem; vertical-align: top;" />
                                        </p>
                                    </div>
                                } else {
                                    An org admin will need to install a webhook in order to validate pull requests
                                }
                            </li>
                            <li class="slds-truncate slds-list__item nohover">
                                <div data-href="@routes.Application.auditSystemUserAccess(org.login, encAccessToken)">
                                    <p>
                                        Checking if the system user has access to this org...
                                        <img src="@staticWebJarAssets.locateUrl("assets/images/spinners/slds_spinner.gif")" alt="Loading..." style="height: 1rem; vertical-align: top;" />
                                    </p>
                                </div>
                            </li>
                            <li class="slds-truncate slds-list__item nohover">
                                <div data-href="@routes.Application.auditRepos(org.login, encAccessToken)" data-autoload="false">
                                    @if(org.role == utils.GitHub.Role.Admin) {
                                        <button class="slds-button slds-button--brand">
                                            Load Repos
                                            <img src="@staticWebJarAssets.locateUrl("assets/images/spinners/slds_spinner.gif")" alt="Loading..." class="slds-button__icon slds-button__icon--right" style="height: 1rem; display: none;" />
                                        </button>
                                    } else {
                                        You must be an org admin to perform an audit.
                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    }

    Don't see all of your orgs?  <a href="https://github.com/settings/connections/applications/@gitHubAppId" target="_blank">Grant access</a> and then refresh this page.

    <script>
        // OMGJS!
        NodeList.prototype.forEach = Array.prototype.forEach;

        function loadContent(div, url) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = 'text';
            xhr.onload = function(e) {
                div.innerHTML = e.target.response;
                div.querySelectorAll("div[data-href]").forEach(addDataHrefHandlers);
            };
            xhr.send();
        }

        function addDataHrefHandlers(div) {
            var autoload = true;

            // default to autoload
            if ((div.dataset.autoload != undefined) && (div.dataset.autoload != "true")) {
                autoload = false;
            }

            if (autoload) {
                loadContent(div, div.dataset.href);
            }
            else {
                div.querySelectorAll("button").forEach(function (button) {
                    button.onclick = function () {
                        var loadingImg = button.querySelector("img");
                        if (loadingImg != null) {
                            loadingImg.style.display = "inline";
                        }
                        button.setAttribute("disabled", "");
                        loadContent(div, div.dataset.href);
                    };
                });
            }
        }

        // Find all of the divs with data-href attributes then load and display them
        document.querySelectorAll("div[data-href]").forEach(addDataHrefHandlers);
    </script>

}
