@(org: String, repos: Seq[utils.GitHub.Repo], encAccessToken: String)(implicit staticWebJarAssets: StaticWebJarAssets)

@repos.map { repo =>
    <div class="slds-media slds-tile">
        <div class="slds-media__figure">
            <svg aria-hidden="true" class="slds-icon slds-icon-standard-canvas slds-timeline__icon"></svg>
            <span class="octicon octicon-repo"></span>
        </div>
        <div class="slds-media__body">
            <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                <p class="slds-tile__title slds-truncate"><a href="https://github.com/@repo.ownerRepo">@repo.ownerRepo</a></p>
            </div>
            <div class="slds-tile__detail slds-text-body--small">
                <div data-href="@routes.Application.auditContributors(org, repo.ownerRepo, encAccessToken)" data-autoload="false">
                    <button class="slds-button slds-button--brand slds-button--small">
                        Load Contributor CLA Statuses
                        <img src="@staticWebJarAssets.locateUrl("assets/images/spinners/slds_spinner.gif")" alt="Loading..." class="slds-button__icon slds-button__icon--right" style="height: 1rem; display: none;" />
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@if(repos.isEmpty) {
    <p>This org does not have any public repos.</p>
}
